@use 'common/var' as *;
@use 'mixins/mixins' as *;

@include b(divider) {
  position: relative;

  @include m(horizontal) {
    display: block;
    height: 1px;
    width: 100%;
    margin: 24px 0;
    border-top: 1px getCssVar('border-color') getCssVar('border-style');

    // 1
    // getCssVar
    // getCssVar('border-color')

    // 1.1
    // getCssVar('button', 'text-color') => var(--el-button-text-color)
    // @function getCssVar($args...) {
    //   @return var(#{joinVarName($args)});
    // }

    // 1.2
    // join var name
    // joinVarName(('button', 'text-color')) => '--el-button-text-color'
    // @function joinVarName($list) {
    //   $name: '--' + config.$namespace; // 1. 初始化时 $name = --el
    //   @each $item in $list {
    //     @if $item != '' {
    //       $name: $name + '-' + $item; // 2. $name: --el-border-color
    //     }
    //   }
    //   @return $name;
    // }

  }

  @include m(vertical) {
    display: inline-block;
    width: 1px;
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
    position: relative;
    border-left: 1px getCssVar('border-color') getCssVar('border-style');
  }

  @include e(text) {
    position: absolute;
    background-color: getCssVar('bg-color');
    padding: 0 20px;
    font-weight: 500;
    color: getCssVar('text-color', 'primary');
    font-size: 14px;

    @include when(left) {
      left: 20px;
      transform: translateY(-50%);
    }

    @include when(center) {
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    @include when(right) {
      right: 20px;
      transform: translateY(-50%);
    }
  }
}

